#sobrenos{
    color: green;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
}

img{
    max-width: 70%;
    border-radius: 2%;
}
p{
    max-width: 70%;
}
#dados{
    background-color: #fff;
    padding: 2%;
    max-width: 69%;
    border-radius: 2%;
}
article h3{
     color: green;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

